.dialogsWrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100%;
}

.messages {
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.addmessage {
    display: flex;
    margin-top: auto;
    margin-bottom: 0;
}
.addmessage textarea {
    width: 100%;
}