:root {
  --main-col: #0377fc;
}
.App {
  display: grid;
  grid-template-areas: 
    "header header"
    "navbar content"
    "footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 10vw 1fr;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
}

.header {
  grid-area: header;
  background-color: var(--main-col);
}

.navbar {
  grid-area: navbar;
  background-color: var(--main-col);
}

.content {
  grid-area: content;
  background-color: var(--main-col);
}

.footer {
  grid-area: footer;
  background-color: var(--main-col);
}